/*
Color Palette:
Text - #F4EADF
Background - #0e0905
Primary - #debf9a
Secondary - #3a7326
Accent - #4bc35f

Font Family: 
Headings - Vazirmatn
Body - Vazirmatn
Type Scale - 1.333 Perfect Fourth
*/

:root {
    --text-color: #F4EADF;
    --background-color: #0e0905;
    --lighter-background-color: #1b1b1b2f;
    --primary-color: #debf9a;
    --secondary-color: #dec09ae0;
    --accent-color: #7e7e7e25;
}

/* Container.css */

body {
    font-family: 'Oswald', Oswald; /* Use your custom font family */
    background-color: #0e0905;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F4EADF;
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #F4EADF;
    border-radius: 10px;
    padding: 1rem;
}

.widget {
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 50%;
}

.widget:hover {
    transition-property: width, border-radius, background-color;
    transition-duration: 0.25s;
    width: 60%;
    background-color: var(--lighter-background-color);
    border-radius: 10px;
    
}

.widget:not(:hover) {
    transition-property: width, border-radius,background-color;
    transition-duration: 0.25s;
}

h1 {
    font: 'VazirMatn', sans-serif;
    font-size: 3rem;
}

h3 {
    font: 'VazirMatn', sans-serif;
    font-size: 1.333rem;
    font-weight: normal;
}

.textbox {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.subtitle {
    font: 'VazirMatn', sans-serif;
    font-size: 1.333rem;
    font-weight: normal;
}

.counter-value {
    font: 'VazirMatn', sans-serif;
    font-size: 2rem;
    font-weight: normal;
}

.checkbox {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox:checked {
    background-color: var(--primary-color);
}

.checkbox:active {
    transform: translateY(2px);
    background-color: var(--accent-color)
}

.dropdown {
    width: 13rem;
    height: 2rem;
    background-color: white;
    border-radius: 5px;
    vertical-align: middle;
    border: 1px solid #ddd;
    font: normal normal normal 17px/1 FontAwesome;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
    font: 'Oswald', sans-serif;
}


.submit {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.5rem;
    font-size: 2rem;
    font-family: 'Oswald', 'sans-serif';
    cursor: pointer;
}

.btn {
    width: 3rem;
}

button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    margin: 0.5rem;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    
}

button:hover {
    transition-property: background-color, color;
    transition-duration: 0.25s;
    background-color: var(--background-color);
    color: var(--secondary-color);
}

button:not(:hover) {
    transition-property: background-color, color;
    transition-duration: 0.25s;
}

button:active {
    transition-property: background-color, color;
    transition-duration: 0.1s;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

