/*
COLOR PALETTE:
Background: 3AAFA9
Text: 17252A
Accent: FFFCFA


*/

.app {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #a1a1d0, #4e4e50);
    margin: 0;
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #17252a;
    background-color: #3aafa9;
}

.title {
    padding: 15px;
    color: black;
    font-size: 50px;
    background-color: #3aafa9;
    
}

.widget {
    width: 100%;
    background-color: #4e4e50;
    margin: 0;
    text-align: center;
}

.subtitle {
    padding: 5px;
    margin: 5px;
    font-size: 2em;
    color: #FFFCFA;
}

.btn-ico-up, .btn-ico-down {
    background-color: #3f4a3c;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 1.5em;
}

.btn-ico-up {
    height: 30px;
}

.btn-ico-down {
    height: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.btn {
    margin: 0;
    padding: 5px;
    border: none;
    background: none;
    vertical-align: middle
    
}

.btn:active {
    transform: translate(1px, 2px);
    
}

.counter-value {
    font-size: 2em;
    color: #FFFCFA;

}